@import "src/assets/styles/colors";

.signUp {
  display: flex;
  flex-direction: column;
}

.hr {
  @include color-scheme($scheme-complex-gradient...);

  height: 3px;
  margin: 60px 0 50px 0;
  max-width: 300px;
  padding: 0 20px;
  border-radius: 50px;
}
