$clr-primary: #4E2A40;
$clr-secondary: #876472;
$clr-accent: #F67673;
$clr-natural-light: #E3D4B6;
$clr-natural-dark: #323232;

$simple-gradient: $clr-primary, $clr-secondary;
$complex-gradient: $clr-primary, $clr-secondary, $clr-accent;

@mixin color-scheme($text, $bg) {
  background-color: $bg;
  color: $text;
}
